.ico { background-image: url(~sprite.png); background-size:128px 128px;}
.ico-l1 { width: 64px; height: 64px; background-position: 0px 0px; }
.ico-l2 { width: 64px; height: 64px; background-position: -64px 0px; }
.ico-l3 { width: 64px; height: 64px; background-position: 0px -64px; }
.ico-l4 { width: 64px; height: 64px; background-position: -64px -64px; }